#!/bin/bash

set -eufo pipefail

echo "Installing Homebrew packages for {{ .host }}..."

{{ if eq .host "joehcooper-main" }}
brew tap ddev/ddev
brew trust ddev/ddev
{{ end }}

brew bundle --file=/dev/stdin <<EOF

# --- all macs ---
brew "neovim"
brew "tmux"
brew "shadowsocks-rust"
brew "nmap"
brew "gh"
cask "google-chrome"
cask "obsidian"
cask "slack"
cask "bruno"

# --- joehcooper-main ---
{{ if eq .host "joehcooper-main" }}
cask "orbstack"
tap "ddev/ddev"
brew "ddev/ddev/ddev"

# --- joehcooper-roam ---
{{ else if eq .host "joehcooper-roam" }}

{{ end }}
EOF
