[user]
    name = joehcooper
    email = {{ .email }}
{{- if .sshSignProgram }}
    signingkey = {{ onepasswordRead "op://Keys/id_ed25519_signing_20260811/public key" "my.1password.com" }}

[gpg]
    format = ssh

[gpg "ssh"]
    program = {{ .sshSignProgram }}

[commit]
    gpgsign = true
{{- end }}

[include]
    path = ~/.config/git/config-private
